.filter-pills-container {
  width: 100%;
  display: flex;
  padding: 0.5rem;
  background-color: transparent;
  position: absolute;
}

.filter-pill {
  flex: 1;
  border-radius: 25px;
  border: none;
  width: 1rem;
  height: 3rem;
  margin: 0.1rem;
  background-color: white;
}