.filter-bar {
    display: grid;
    grid-template-columns: minmax(150px, 20%) 1fr auto;
    font-size: 0.85rem;
}

.filter-bar .app-logo {
    width: 100px;
    height: 3rem;
    margin: 1rem;
    background-color: grey;
    
}

.filter-bar .user-logo {
    width: 3rem;
    margin: 1rem 2rem;
    height: 3rem;
    border-radius: 50%;
    background-color: grey;
}

.filter-bar .filter-option-container {
    /* width: 1rem; */
    height: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr) minmax(100px, 10%);
    background-color: green;
}