@import '~antd/dist/antd.css';
@import '~antd-mobile/dist/antd-mobile.css';  
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;531;600;700;800;900&display=swap');

:root {
  --blue-icon-select: #1DA1F2;
  --dark-icon-unselect: #8899A6;
  --light-icon-unselect: #657786;
  --dark-background: #15202B;
  --light-background: #fff;
  --dark-border: #38444D;
  --light-border: #E6ECF0;
  --theme-yellow: #F8B525;
  --theme-blue: #407BFC;
  --theme-red: #E0245E;
  --theme-indigo: #2E45E8;
  --theme-navy: #010838;
}

@media screen and (max-width: 500px) {
  /*disable scrolling*/
  html, body {margin: 0; height: 100%; overflow: hidden}
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


